.logo {
    width: 300px;
}

.nav-link {
    color: black;
    display: flex;
}

.page-header {
    display: flex;
    justify-content: space-between;

}

.header-link {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

.email-input {
    display: flex;
    margin: 0 auto;
    max-width: 300px;
}

.page-intro {
    text-align: center;
}

.page-title {
    text-align: center;
    color: black;
}

.btn {
    display: inline-block;
    margin: 15px auto 0;
    background: orange;
}

.feature {
    display: flex;
    align-items: left;
}

.feature-icon {
    width: 100px;
    margin-right: 25px;
}

.video {
    display: flex;
    justify-content: center;

}

.products {
    display: flex;
    justify-content: space-between;
    padding: 50px 50px;

}

.card {
    border: 1px solid;
    width: 250px;
    text-align: center;
    border-radius: 3px;
}

.card-button {
    display: inline-block;
    background-color: gold;
}

.card-price {
    font-weight: bold;
}

body {
    background-color: rgb(250, 250, 217);
}

.card-title {
    background-color: bisque;
}

.page-footer {
    display: flex;
    justify-content: right;
    
}

.footer-list {
    display: flex;
    justify-content: space-between;
}